.edit-mode {
	visibility: visible;
}

.view-mode {
	visibility: hidden;
}

.delete {
	color: rgb(234, 67, 53);
}
.delete:hover {
	color: rgb(178, 53, 41);
}

.add {
	border: solid rgb(24, 82, 158);
	color: rgb(24, 82, 158);
}

.edit {
	color: rgb(24, 82, 158);
}

.search-btn {
	background-color: rgba(39, 103, 187, 1);
	color: rgba(255, 255, 255, 1);
	border: solid 2px rgba(39, 103, 187, 1);
	border-radius: 0.375rem;
	text-transform: uppercase;
	margin-left: 5px;
	line-height: 1.5;
}
.search-btn:hover {
	color: rgba(39, 103, 187, 1);
	background-color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}
