.edit-mode {
	visibility: visible;
}

.view-mode {
	visibility: hidden;
}

.delete {
	color: rgb(234, 67, 53);
}
.delete:hover {
	color: rgb(178, 53, 41);
}

.add {
	border: solid rgb(24, 82, 158);
	color: rgb(24, 82, 158);
}

.edit {
	color: rgb(24, 82, 158);
}

.add-commodity-btn {
	margin-bottom: 20px;
	border: solid 1px rgb(214, 216, 221);
	width: 500px;
	color: rgb(0, 0, 0);
}

.add-commodity-btn:hover {
	color: rgb(0, 0, 0);
}

.commodity-name-list {
	font-weight: bold;
}
.search-btn {
	margin-left: 5px;
	background-color: rgba(39, 103, 187, 1);
	color: rgba(255, 255, 255, 1);
	border: none;
}
.search-btn:hover {
	background-color: rgb(27, 71, 129);
	transition: 0.3s;
}

button {
	border: solid 2px rgba(39, 103, 187, 1);
	border-radius: 0.375rem;
	text-transform: uppercase;
	height: 40px;
	color: rgba(39, 103, 187, 1);
	background-color: rgba(255, 255, 255, 1);
	transition: 0.3s;
}

button:hover {
	background-color: rgba(39, 103, 187, 1);
	color: rgba(255, 255, 255, 1);
}

.add-modal,
.edit-modal,
.modal-body,
.commodity-card-page,
.commodities-list {
	font-family: 'Source Sans Pro', sans-serif;
}
.commodities-list h1 {
	color: rgba(39, 103, 187, 1);
	text-transform: uppercase;
	margin: 30px 0;
	font-size: 36px;
	font-weight: bold;
	justify-items: center;
}

.commodities-list h1,
.commodities-list-search-form,
.commodity-card-home {
	text-align: center;
}

.commodity-card-body,
.commodities-list-group {
	width: 500px;
	margin: auto;
	font-size: 16px;
}

.add-commodity-btn:hover,
.commodities-list-item:hover {
	background-color: rgba(39, 103, 187, 0.05);
}

.variety-list {
	color: rgba(39, 103, 187, 0.7);
	font-size: 16px;
}

/* COMMODITY PAGE */

.card-body {
	width: 80vw;
}

.climacteric {
	font-size: 18px;
	margin-top: 20px;
	text-transform: capitalize;
}

.back-to-commodities {
	font-size: 20px;
	text-align: left;
}

.back-to-commodities a {
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(39, 103, 187, 0.7);
}

.commodity-card-page h1 {
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(0, 0, 0, 1);
}
.commodity-card-page h2 {
	text-transform: uppercase;
	font-weight: bold;
	color: rgba(39, 103, 187, 1);
	margin-top: 50px;
	font-size: 22px;
}

.scientific-name {
	font-size: 28px;
	color: rgba(39, 103, 187, 0.7);
	font-weight: bold;
}

.commodity-card-page h3 {
	margin: 20px;
	font-size: 22px;
}

.edit-commodity-link {
	margin: 0 10px;
	color: rgb(39, 103, 187);
	font-size: 16px;
}
.edit-commodity-link:hover {
	color: rgb(28, 74, 134);
}

.delete-commodity:hover {
	color: rgb(234, 67, 53);
	background-color: rgb(255, 255, 255);
}
.delete-commodity {
	margin-top: 50px;
	background-color: rgb(234, 67, 53);
	color: rgb(255, 255, 255);
	border: solid rgb(234, 67, 53);
}

.modal-header {
	color: rgba(39, 103, 187, 1);
	text-transform: uppercase;
	font-weight: bold;
}

.modal-btn {
	margin: 10px;
	text-align: center;
	font-weight: bold;
}
.modal-btn button {
	font-weight: bold;
	border: solid 1.5px;
}

.climacteric,
.commodity-class {
	text-transform: capitalize;
	font-weight: bold;
}

.refs-table {
	word-break: break-word;
}

.edit-col {
	width: 10%;
}
