.windham-logo {
	font-family: 'Cinzel', serif;
	font-size: 6vh;
	color: rgb(170, 215, 236);
}

.windham-logo-img {
	height: 6vh;
	display: inline-flex;
}

.postharvest-banner {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 8vw;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	letter-spacing: 3px;
}

.search-bar input {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bolder;
	letter-spacing: 1.5px;
	width: 50%;
	height: 40px;
	padding: 10px;
	background: url("/home/gah1289/springboard_assignments/50-capstone-two/postharvest-app-frontend/postharvest/src/Images/search-regular.svg")
		no-repeat;
	background-color: rgba(255, 255, 255, 1);
	background-position: 95%, 5%;
	background-size: 20px;
}

.banner {
	color: rgb(255, 255, 255);
	height: fit-content;
	min-height: 300px;
	background-image: linear-gradient(96.5deg, rgba(39, 103, 187, 1) 10.4%, rgba(16, 72, 144, 1) 87.7%);
	float: inline-end;
}

.magnifying-glass {
	background-color: rgba(255, 255, 255, 1);
}

.footer {
	padding: 10px;
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px;
}

.commodity-card-home {
	margin: 10px;
	align-self: center;
	width: 150px;
	background-color: rgba(255, 255, 255, 0.3);
	height: 60px;
}

.commodity-name {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
	font-size: 20px;
}

.variety-home {
	color: rgba(255, 255, 255, 1);
	font-size: 18px;
}

a {
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
}

.link a {
	color: rgb(137, 207, 240);
}

.footer {
	color: rgb(0, 0, 0);
}

.home-page-commodities {
	height: 200px;
	min-height: fit-content;
}
