.profile-div,
.login-div {
	padding: 10px;
	align-items: center;
	justify-content: center;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 500;
}

.profile-title,
.login-title {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 1);
	font-size: 45px;
}

.profile-form,
.login-form {
	justify-content: center;
	width: 500px;
	padding: 10px;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.login-form button {
	background-color: rgba(0, 0, 0, 0);
	border: solid rgb(165, 221, 247);
	width: 100px;
	height: 50px;
	color: rgb(165, 221, 247);
	text-transform: uppercase;
	border-radius: 25px;
	transition: 0.3s;
}
.login-form button:hover {
	background-color: rgb(165, 221, 247);
	color: rgba(16, 72, 144, 1);
}

.register-prompt {
	color: rgb(165, 221, 247);
}

.register-prompt a {
	color: rgb(165, 221, 247);
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
}
.register-prompt a:hover {
	color: rgba(255, 255, 255, 1);
}

.label {
	color: rgb(165, 221, 247);
	position: relative;
	text-align: left;
	text-transform: uppercase;
	margin-bottom: -8px;
	font-size: 18px;
}
