.navbar {
	background-image: linear-gradient(96.5deg, rgba(39, 103, 187, 1) 10.4%, rgba(16, 72, 144, 1) 87.7%);
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: rgb(137, 207, 240);
}

.navbar button,
.navbar a {
	color: rgb(137, 207, 240);
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

.navbar a {
	font-size: 3.5vmin;
}

.fa-user {
	min-height: 30px;
}

.navbar button {
	width: 55px;
	font-size: 18px;
}
.navbar-collapse {
	align-items: right;
	justify-content: right;
	text-align: right;
}
.navbar-nav {
	width: 20%;
	margin-left: 80%;
}

.navbar a:hover,
.navbar button:hover,
.navbar button:active {
	font-family: 'Source Sans Pro', sans-serif;
	text-decoration: none;
	color: rgb(170, 215, 236);
	font-weight: 700;
	border: none;
	background-color: rgba(0, 0, 0, 0);
}

img {
	min-height: var(--bs-navbar-toggler-font-size);
}

.navbar-toggler:active {
	border: none;
}

.logged-in-btn {
	border: 2px solid;
	padding: 7px;
	border-radius: 100px;
	background-color: rgba(39, 103, 187, 1);
	min-width: fit-content;
}

.windham-logo-img {
	min-height: 30px;
}

tr,
tbody {
	max-width: 98vw;
}
